{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>Секція1</section>
    <section>Секція2</section>
    <section>Секція3</section>
    <section>Секція4</section>
    <section>Секція5</section>
    <section>Секція6</section>

    <button id="buttonScroll">
        <img src="/svg/scroll__top.svg" alt="scroll__top">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}